@import "tailwindcss";

@keyframes marquee-scroll {

  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {

  display: flex;

  align-items: center;

  gap: 5rem;

  width: max-content;

  will-change: transform;

  animation: marquee-scroll 200s linear infinite;
}

.animate-marquee:hover {

  animation-play-state: paused;
}